<h1>Admin Dashboard</h1>
<ul>
  <li><%= link_to 'Classroom', classrooms_path %></li>
  <li><%= link_to 'Tutors', tutors_path %></li>
  <li><%= link_to 'Students', students_path %></li>
  <li><%= link_to 'Survey', surveys_path %></li>
  <li><%= link_to 'Courses', courses_path %></li>
  <li><%= link_to 'Bookstore',  bookstores_path  %></li>
</ul>
