<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading"><strong>Title: <%= @bookstore.title %></strong></div>
</div>
  <div class="panel panel-default">
    <div class="panel-body">
      <strong>Description: </strong><%= @bookstore.description %><br>
      <strong>Author: </strong><%= @bookstore.author %><br>
      <strong>Price:</strong><%= @bookstore.price %>
    </div>
</div>