<h1 align="center">Purchase this book</h1>

<p id="notice"><%= notice %></p>


<div class="panel panel-default">
  <div class="panel-heading"><strong>Title: </strong><%= @bookstore.title %></div>
</div>
  <div class="panel panel-default">
    <div class="panel-body">
      <strong>Description: </strong><%= @bookstore.description %><br>
      <strong>Author: </strong><%= @bookstore.author %><br>
      <strong>Price:</strong><%= @bookstore.price %>
    </div>
  <div class="panel-footer">
    <p><%= link_to 'Purchase', purchase_path, class: "btn btn-primary btn-lg" %> </p>
  </div>
</div>
<%= link_to 'Edit', edit_bookstore_path(@bookstore) %> |
<%= link_to 'Back', bookstores_path %>